html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: var(--mv-header-height);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}
