:root {
  --mv-site-max-width: 1184px;
  --mv-site-padding-inline: 20px;
  --mv-header-height: 80px;
  --mv-side-navigator-width: 400px;

  --mv-color-blue: #032541;
  --mv-color-light-blue: #0A66B0FF;
  --mv-color-white: #ffffff;

  --mv-font-size-12: 0.75rem;
  --mv-font-size-14: 0.875rem;
  --mv-font-size-16: 1rem;
  --mv-font-size-20: 1.25rem;
}
